<app-page-header [pageTitle]="'Admin'"></app-page-header>

<p-tabView>
  <p-tabPanel header="Exersizes">
    <div *ngIf="challenges$ | async as data">
      <div>
        <p-table
          [globalFilterFields]="['status']"
          [scrollable]="true"
          scrollHeight="65vh"
          [value]="data"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Challenge Title</th>
              <th>Date</th>
              <th>Status</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-challenge>
            <tr>
              <td>{{ challenge.title }}</td>
              <td>{{ challenge.date?.toDate() | date }}</td>
              <td>{{ challenge.active ? "active" : "draft" }}</td>
              <td>
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-text p-button-sm mr-2"
                  (click)="editWod(challenge)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <button
          (click)="addWod()"
          pButton
          pRipple
          type="button"
          icon="pi pi-plus"
          class="p-button-rounded create-button"
        ></button>
      </div>
    </div>
  </p-tabPanel>
  <!-- <p-tabPanel header="Users"> </p-tabPanel> -->
  <p-tabPanel header="News">
    <div *ngIf="news$ | async as data">
      <div>
        <p-table [scrollable]="true" scrollHeight="65vh" [value]="data">
          <ng-template pTemplate="header">
            <tr>
              <th>Title</th>

              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-news>
            <tr>
              <td>{{ news.title }}</td>

              <td>
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-text p-button-sm mr-2"
                  (click)="editNews(news)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <button
          (click)="addNews()"
          pButton
          pRipple
          type="button"
          icon="pi pi-plus"
          class="p-button-rounded create-button"
        ></button>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>

<p-sidebar
  [fullScreen]="true"
  [(visible)]="isVisible"
  position="right"
  [baseZIndex]="10000"
>
    <ng-template pTemplate="header"> <h3>Create WOD</h3></ng-template>  
  <ng-template pTemplate="content">
    <div class="mt-4">
      <form [formGroup]="wodForm">
        <div class="flex">
          <div class="flex align-items-center mr-2">
            <label class="mr-2" for="">Active</label>
            <p-inputSwitch
              formControlName="active"
              [(ngModel)]="active"
            ></p-inputSwitch>
          </div>

          <span class="p-float-label w-full">
            <input
              class="w-full"
              id="float-input"
              type="text"
              pInputText
              formControlName="title"
            />
            <label for="float-input">Title</label>
          </span>
        </div>
        <!-- set -->
        <div class="p-2">
          <div class="mb-3">
            <div class="mb-3">
              <p-editor
                formControlName="description1"
                [style]="{ height: '220px' }"
              ></p-editor>
            </div>
            <div class="mb-3">
              <span class="p-float-label">
                <input
                  class="w-full"
                  id="float-input"
                  type="text"
                  pInputText
                  formControlName="video1"
                />
                <label for="float-input">VideoURL</label>
              </span>
            </div>
          </div>
          <div class="mb-2">
            <div class="mb-3">
              <p-editor
                formControlName="description2"
                [style]="{ height: '220px' }"
              ></p-editor>
            </div>
            <div class="mb-3">
              <span class="p-float-label">
                <input
                  class="w-full"
                  id="float-input"
                  type="text"
                  pInputText
                  formControlName="video2"
                />
                <label for="float-input">VideoURL</label>
              </span>
            </div>
          </div>
          <div class="mb-2">
            <div class="mb-3">
              <p-editor
                formControlName="description3"
                [style]="{ height: '220px' }"
              ></p-editor>
            </div>
            <div class="mb-3">
              <span class="p-float-label">
                <input
                  class="w-full"
                  id="float-input"
                  type="text"
                  pInputText
                  formControlName="video3"
                />
                <label for="float-input">VideoURL</label>
              </span>
            </div>
          </div>
          <div class="mb-2">
            <div class="mb-3">
              <p-editor
                formControlName="description4"
                [style]="{ height: '220px' }"
              ></p-editor>
            </div>
            <div class="mb-3">
              <span class="p-float-label">
                <input
                  class="w-full"
                  id="float-input"
                  type="text"
                  pInputText
                  formControlName="video4"
                />
                <label for="float-input">VideoURL</label>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
   

  <ng-template pTemplate="footer">
    <button
      class="w-full p-button-success mt-2"
      pButton
      (click)="saveWod()"
      type="button"
      label="Save"
    ></button>

    <button
      *ngIf="editMode"
      class="w-full p-button-danger mt-2"
      pButton
      (click)="deleteWod()"
      type="button"
      label="Delete"
    ></button>
  </ng-template>
</p-sidebar>

<p-sidebar
  [fullScreen]="true"
  [(visible)]="isVisibleNews"
  position="right"
  [baseZIndex]="10000"
>
    <ng-template pTemplate="header"> <h3>Create News</h3></ng-template>  
  <ng-template pTemplate="content">
    <div class="">
      <div class="mb-2">
        <span class="p-float-label">
          <input
            class="w-full"
            id="float-input"
            type="text"
            pInputText
            [(ngModel)]="newsTitle"
          />
          <label for="float-input">Title</label>
        </span>
      </div>
      <div class="mb-2">
        <p-editor
          [(ngModel)]="newsDescription"
          [style]="{ height: '220px' }"
        ></p-editor>
      </div>
    </div>
  </ng-template>
   
  <ng-template pTemplate="footer">
    <button
      class="w-full p-button-success mt-2"
      pButton
      (click)="saveNews()"
      type="button"
      label="Save"
    ></button>

    <button
      *ngIf="editMode"
      class="w-full p-button-danger mt-2"
      pButton
      (click)="deleteNews()"
      type="button"
      label="Delete"
    ></button>
  </ng-template>
</p-sidebar>
